<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerlink">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Application de démo gestion des stocks">
    <meta name="author" content="ThemePixels">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">

    <title>Application de démo gestion des stocks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/mycustomstyle.css}" href="">
    <link href="http://themepixels.me/cassie/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="http://themepixels.me/cassie/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
</head>
<body>
    <div class="sidebar" th:fragment="header">
        <div class="sidebar-header">
            <div>
                <a href="" class="sidebar-logo"><span>GestionStocks</span></a>
                <small class="sidebar-logo-headline">Application de gestion des stocks</small>
            </div>
        </div>
        <div id="dpSidebarBody" class="sidebar-body">
            <ul class="nav nav-sidebar">
                <li class="nav-label"><label class="content-label">Menus principales</label></li>
                <li class="nav-item">
                    <a th:href="@{/customers}" class="nav-link">
                        <i data-feather="box"></i> Liste des clients
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link">
                        <i data-feather="box"></i> Liste des produits
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/search-customer}" class="nav-link">
                        <i data-feather="box"></i> Rechercher un client
                    </a>
                </li>
                <!--li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link">
                        <i data-feather="box"></i> Déconnection
                    </a>
                </li-->
            </ul>
        </div>
    </div>

    <div th:fragment="headerSearch">
        <div class="header">
            <div class="header-left">
                <a href="#" class="burger-menu">
                    <i data-feather="menu"></i>
                </a>
                <div class="header-search">
                    <i data-feather="search"></i>
                    <input type="search" class="form-control" placeholder="What are you looking for?">
                </div>
            </div>
            <a th:href="@{/logout}" class="nav-link">
                <i data-feather="box"></i> Déconnection
            </a>
        </div>
    </div>

    <div th:fragment="pagination">
        <!-- customers pagination -->
        <nav aria-label="Pagination" th:if="${customers.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${customers.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/customers?page={id}(id=${customers.number lt 2 ? 1 : customers.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq customers.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, customers.totalPages, 1)}">
                    <a class="page-link" th:href="@{/customers?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${customers.number + 1 eq customers.totalPages} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/customers?page={id}(id=${customers.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div th:fragment="footerscript">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="http://themepixels.me/cassie/lib/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="http://themepixels.me/cassie/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
        <script src="http://themepixels.me/cassie/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="http://themepixels.me/cassie/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>

        <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
    </div>
</body>
</html>