<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::headerlink"></head>
<body>
<div>
    <div th:replace="fragments/header::header"></div>

    <div class="content content-page">
        <!-- Start Header -->
        <div class="header">
            <div class="header-left">
                <a href="#" class="burger-menu"><i data-feather="menu"></i></a>
                <div class="header-search">
                    <i data-feather="search"></i>
                    <input type="search" class="form-control" placeholder="What are you looking for?">
                </div>
            </div>
        </div>
        <!-- End Header -->

        <!-- Start Content -->
        <div class="content-header justify-content-between">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
                        <li class="breadcrumb-item" th:text="@{'Liste des adresses de ' + customer.name}"></li>
                        <li class="breadcrumb-item active" aria-current="page">Création d'adresse</li>
                    </ol>
                </nav>
                <h4 class="content-title">Formulaire de création d'adresse</h4>
            </div>
        </div>
        <div class="content-body">

            <div class="card card-body pd-lg-25">
                <form action="#" th:action="@{/add-address/{id}(id=${customer.id})}" th:object="${addressForm}" method="POST">
                    <div style="margin: auto">
                        <div class="d-md-flex mg-b-30">
                            <div class="form-group mg-b-0">
                                <label>Libellé adresse: <span class="tx-danger">*</span></label>
                                <input type="text" th:field="*{addressName}" class="form-control" style="width: 320px; margin-right: 10px" placeholder="Entrer le libellé">
                                <span style="color: red;width: 210px;padding-left: 10px;" th:if="${#fields.hasErrors('addressName')}" th:errors="*{addressName}"></span>
                            </div><!-- form-group -->
                            <div class="form-group mg-b-0 mg-md-l-20 mg-t-20 mg-md-t-0">
                                <label>Ville: <span class="tx-danger">*</span></label>
                                <input type="text" th:field="*{addressCity}" class="form-control" style="width: 320px; margin-right: 10px" placeholder="Entrer la ville">
                                <span style="color: red;width: 210px;padding-left: 10px;" th:if="${#fields.hasErrors('addressCity')}" th:errors="*{addressCity}"></span>
                            </div><!-- form-group -->
                            <div class="form-group mg-b-0 mg-md-l-20 mg-t-20 mg-md-t-0">
                                <label>Localisation: <span class="tx-danger">*</span></label>
                                <input type="text" th:field="*{addressLocation}" class="form-control" style="width: 320px; margin-right: 10px" placeholder="Entrer la localisation">
                                <span style="color: red;width: 210px;padding-left: 10px;" th:if="${#fields.hasErrors('addressLocation')}" th:errors="*{addressLocation}"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark pd-x-20">Enregistrer l'adresse</button>
                    </div>
                </form>
            </div>

        </div>
        <!-- End Content -->
    </div>
</div>
<div th:replace="fragments/header::footerscript"></div>
</body>
</html>