<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::headerlink"></head>
<body>
<div>
    <div th:replace="fragments/header::header"></div>

    <div class="content content-page">
        <!-- Start Header -->
        <div class="header">
            <div class="header-left">
                <a href="#" class="burger-menu"><i data-feather="menu"></i></a>
                <div class="header-search">
                    <i data-feather="search"></i>
                    <input type="search" class="form-control" placeholder="What are you looking for?">
                </div>
            </div>
        </div>
        <!-- End Header -->

        <!-- Start Content -->
        <div class="content-header justify-content-between">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
                        <li class="breadcrumb-item active" aria-current="page" th:text="${'Liste des adresse du client ' + customer.id}"></li>
                    </ol>
                </nav>
                <h4 class="content-title" th:text="${'Liste des adresse du client ' + customer.name}"></h4>
            </div>
            <div class="d-none d-sm-flex">
                <a th:href="@{/add-address/{id}(id=${customer.id})}" class="btn btn-brand-01 mg-l-5">
                    <i data-feather="plus" class="svg-14"></i> Ajouter une adresse
                </a>
            </div>
        </div>
        <div class="content-body">

            <div th:replace="fragments/formMessage::formMessage"></div>

            <div class="component-section" style="margin-top: 0px">
                <table id="example1" class="table">
                    <thead>
                    <tr>
                        <th class="wd-15p">Libellé</th>
                        <th class="wd-20p">Ville</th>
                        <th class="wd-15p">Adresse</th>
                        <th class="wd-15p">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="address: ${addresses}">
                        <td th:text="${address.addressName}"/>
                        <td th:text="${address.addressCity}"/>
                        <td th:text="${address.addressLocation}"/>
                        <td>
                            <div class="dropdown">
                                <a href="#" class="link-gray-500" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical svg-16">
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                    </svg>
                                </a>
                                <div class="dropdown-menu tx-14">
                                    <h6 class="dropdown-header tx-uppercase tx-11 tx-bold tx-inverse tx-spacing-1">Options</h6>
                                    <!--a class="dropdown-item" th:href="@{/update-address/{id}(id=${address.id})}">Modifier</a-->
                                    <a class="dropdown-item" th:href="@{/delete-address/{id}(id=${address.id})}">Supprimer</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End Content -->
    </div>
</div>
<div th:replace="fragments/header::footerscript"></div>
</body>
</html>